@import '../../styles/settings.scss';

.button {
  background: $color-success;
  border: 0;
  color: $color-light;
  text-align: center;
  line-height: 1.3;
  padding: $base-size;
  margin: 0 $base-size $base-size $base-size;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
      background: darken($color-success, 5%);
  }

  &.danger {
      background: $color-warning;

      &:hover {
          background: darken($color-warning, 5%);
      }
  }

  &.transparent {
      background: transparent;

      &:hover {
          color: darken($color-light, 20%);
      }
  }
}